# Tradier (required only if [equity] broker = "tradier" in config.toml)
# Get your token at: https://developer.tradier.com/user/sign_up
TRADIER_ACCESS_TOKEN=your_tradier_access_token_here

# Coinbase (required only if [crypto] broker = "coinbase" in config.toml)
# Get your key at: https://www.coinbase.com/settings/api
COINBASE_API_KEY_USERNAME=organizations/xxxx/apiKeys/xxxx
COINBASE_API_PRIVATE_KEY="-----BEGIN EC PRIVATE KEY-----\n...\n-----END EC PRIVATE KEY-----\n"
